In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as numpy
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.tree import DecisionTreeClassifier

In [ ]:
data = pd.read_csv("/content/drive/MyDrive/0.MKCE/4.Decision Tree/2 Project/Heart Disease Prediction/Dataset/HeartDisease.csv")

In [ ]:
data

,age,gender,chest_pain,rest_bps,cholestrol,fasting_blood_sugar,rest_ecg,thalach,exer_angina,old_peak,slope,ca,thalassemia,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [ ]:
data.columns

Index(['age', 'gender', 'chest_pain', 'rest_bps', 'cholestrol',
       'fasting_blood_sugar', 'rest_ecg', 'thalach', 'exer_angina', 'old_peak',
       'slope', 'ca', 'thalassemia', 'target'],
      dtype='object')

In [ ]:
data['cholestrol'].describe()

count    303.000000
mean     246.264026
std       51.830751
min      126.000000
25%      211.000000
50%      240.000000
75%      274.500000
max      564.000000
Name: cholestrol, dtype: float64

In [ ]:
data.info

<bound method DataFrame.info of      age  gender  chest_pain  rest_bps  cholestrol  fasting_blood_sugar  \
0     63       1           3       145         233                    1
1     37       1           2       130         250                    0
2     41       0           1       130         204                    0
3     56       1           1       120         236                    0
4     57       0           0       120         354                    0
..   ...     ...         ...       ...         ...                  ...
298   57       0           0       140         241                    0
299   45       1           3       110         264                    0
300   68       1           0       144         193                    1
301   57       1           0       130         131                    0
302   57       0           1       130         236                    0

     rest_ecg  thalach  exer_angina  old_peak  slope  ca  thalassemia  target
0           0      150            0       2.3      0   0            1       1
1           1      187            0       3.5      0   0            2       1
2           0      172            0       1.4      2   0            2       1
3           1      178            0       0.8      2   0            2       1
4           1      163            1       0.6      2   0            2       1
..        ...      ...          ...       ...    ...  ..          ...     ...
298         1      123            1       0.2      1   0            3       0
299         1      132            0       1.2      1   0            3       0
300         1      141            0       3.4      1   2            3       0
301         1      115            1       1.2      1   1            3       0
302         0      174            0       0.0      1   1            2       0

[303 rows x 14 columns]>

In [ ]:
x = data.drop(['target'],axis=1)
y = data['target']

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25,random_state=1)

In [ ]:
print(x_test.shape)
print(x_train.shape)
print(y_test.shape)
print(y_train.shape)

(76, 13)
(227, 13)
(76,)
(227,)

In [ ]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()

In [ ]:
model.fit(x_train,y_train)

DecisionTreeClassifier()

In [ ]:
pre = model.predict(x_test)

In [ ]:
model.predict_proba(x_test)

array([[1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.]])

In [ ]:
x_test.shape

(76, 13)

In [ ]:
accuracy_score(y_test,pre)

0.6842105263157895

In [ ]:
confusion_matrix(y_test,pre)

array([[25, 10],
       [14, 27]])

In [ ]:
z = classification_report(y_test,pre)
print(z)

              precision    recall  f1-score   support

           0       0.64      0.71      0.68        35
           1       0.73      0.66      0.69        41

    accuracy                           0.68        76
   macro avg       0.69      0.69      0.68        76
weighted avg       0.69      0.68      0.68        76

In [ ]:
# load libraries
from sklearn import decomposition, datasets
from sklearn import tree
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV, cross_val_score
from sklearn.preprocessing import StandardScaler

In [ ]:
# Load the iris flower data
dataset = datasets.load_iris()

In [ ]:
# Create an scaler object
sc = StandardScaler()

In [ ]:
pca = decomposition.PCA()

In [ ]:
decisiontree = tree.DecisionTreeClassifier()

In [ ]:
pipe = Pipeline(steps=[('sc', sc), 
                       ('pca', pca),
                       ('decisiontree', decisiontree)])

In [ ]:
n_components = list(range(1,X.shape[1]+1,1))

In [ ]:
criterion = ['gini', 'entropy']
max_depth = [4,6,8,12]

In [ ]:
parameters = dict(pca__n_components=n_components,
                  decisiontree__criterion=criterion,
                  decisiontree__max_depth=max_depth)

In [ ]:
clf = GridSearchCV(pipe, parameters)

In [ ]:
clf.fit(X, y)

GridSearchCV(estimator=Pipeline(steps=[('sc', StandardScaler()), ('pca', PCA()),
                                       ('decisiontree',
                                        DecisionTreeClassifier())]),
             param_grid={'decisiontree__criterion': ['gini', 'entropy'],
                         'decisiontree__max_depth': [4, 6, 8, 12],
                         'pca__n_components': [1, 2, 3, 4]})

In [ ]:
print('Best Criterion:', clf.best_estimator_.get_params()['decisiontree__criterion'])

Best Criterion: gini

In [ ]:
print('Best max_depth:', clf.best_estimator_.get_params()['decisiontree__max_depth'])

Best max_depth: 4

In [ ]:
print('Best Number Of Components:', clf.best_estimator_.get_params()['pca__n_components'])

Best Number Of Components: 3

In [ ]:
print(clf.best_estimator_.get_params()['decisiontree'])

DecisionTreeClassifier(max_depth=4)

In [ ]:
CV_Result = cross_val_score(clf, X, y, cv=4, n_jobs=-1)

In [ ]:
print(CV_Result)

[0.97368421 0.97368421 0.86486486 0.91891892]

In [ ]:
print(CV_Result)

[0.97368421 0.97368421 0.86486486 0.91891892]

In [ ]:
print(CV_Result.std())

0.0451411778962247